/* global.css */

/* Import statements remain the same */
@import url("https://fonts.googleapis.com/css2?family=Geist+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for light mode */
:root {
  --color-primary: #0964e6;
  --color-secondary: rgba(9, 100, 230, 0.93);
  --color-danger: #ff204e;
  /*--color-background: #fafafa;*/
  --color-header: #fff;
  --color-background: #fff;

  --color-foreground: #1f1f1f;
  --color-foreground2: rgb(31, 31, 31);

  --color-light-border: rgba(0, 0, 0, 0.08);
  --color-light-h1: rgb(31, 31, 31);
  --color-light-h2: rgb(31, 31, 31);

  --color-light1: rgb(239, 239, 239);
  --color-light2: #ffffff;

  --font-sans: "Geist Sans", sans-serif;
}

/* Override variables for dark mode */
.dark {
  --color-primary: #8fd8fc;
  --color-secondary: #5396fb;
  --color-danger: #ff204e;
  --color-background: #0a0a0a;
  --color-foreground: #fefefe;

  --color-dark-border: #939393;
  --color-dark1: #0a0a0a;
  --color-dark2: #2d2d2d;
  --color-light-h1: #f2f2f2;
  --color-light-h2: rgba(31, 31, 31, 0.55);

}

/* Base styles */
@layer base {
  body {
    @apply font-sans text-foreground bg-background;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

