@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --primary: #5396fb;
        --secondary: #8fd8fc;
        --danger: #ff204e;
        --background: #000;
        --foreground: #1F1F1F;
        --dark: #000000;
        --light: rgba(255, 255, 255, 0.94);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer utilities {
    body {
        @apply font-sans text-dark bg-light dark:text-light dark:bg-background;
    }

    .toast-top-left {
        @apply fixed top-2 left-2 z-[100] md:max-w-[420px];
    }

    .nav-link {
        @apply flex items-center gap-2 text-sm px-4 py-3 my-[2px] rounded-none cursor-pointer;
    }

    .nav-active {
        /*@apply bg-slate-200 dark:bg-slate-800;*/
    }
}

.button-relative {
    position: relative; /* This will contain the Badge correctly */
  }

  .badge {
    position: absolute;
    top: -5px; 
    right: -5px; 
    background-color: blue;
    color: white;
    font-size: 10px; 
    padding: 2px 5px; 
    border-radius: 10px; 
    font-weight: bold;
  }
  